@model IEnumerable<VentaEncabezado>

@{
    ViewData["Title"] = "Ventas";
}

<div class="text-center container">
    <h1 class="titulo">Ventas</h1>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha de Venta</th>
            <th scope="col">Nombre Cliente</th>
            <th scope="col">Apellido Cliente</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor Unitario (COP)</th>
            <th scope="col">Impuesto</th>
            <th scope="col">Total Venta (COP)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venta in @Model)
                {
                    <tr class="filaDatos">
                        <td>@venta.Id</td>
                        <td>@venta.fechaVenta.ToShortDateString()</td>
                        <td>@venta.clienteNombre</td>
                        <td>@venta.clienteApellido</td>
                        <td>@venta.producto</td>
                        <td>@venta.cantidad</td>
                        <td>@venta.valorUnitario</td>
                        <td>@venta.impuesto</td>
                        <td>@venta.totalVenta</td>   
                    </tr>
                }
        </tbody>
    </table>
    </div>
    <p></p>
    <div class="row"> 
        <div class="col-sm">
            <input type="text" class="form-control" id="idVenta" placeholder="ID" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="fechaVenta" placeholder="Fecha de Venta" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="clienteNombre" placeholder="Nombres" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="clienteApellido" placeholder="Apellidos" readonly>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="totalVenta" placeholder="Total Venta" readonly>
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-sm">
             <a asp-controller="VentaEncabezado" asp-action="Create" ><button type="button" class="btn btn-success" id="botonAnadir">Añadir</button></a>
        </div>
        <div class="col-sm">
            <a asp-controller="VentaEncabezado" asp-action="Edit" ><button type="button" class="btn btn-primary" id="botonModificar">Modificar</button></a>
        </div>
        <div class="col-sm">
            <a asp-controller="VentaEncabezado" asp-action="Delete" ><button type="button" class="btn btn-danger" id="botonEliminar">Eliminar</button></a>
        </div>
    </div>
</div>
<script type="text/javascript">
            
            //Actualizar campos cuando se elige un registro
            $(".filaDatos").click(function () {
                var $data=[];
                var filaDatos = $(this);
                var cells = filaDatos.find('td');
                $(cells).each(function(){
                    var $d = $(this).val()||$(this).text();
                    $data.push($d);
                });
                $("#idVenta").val($data[0]);
                $("#fechaVenta").val($data[1]);
                $("#clienteNombre").val($data[2]);
                $("#clienteApellido").val($data[3]);
                $("#totalVenta").val($data[8]);
            });
 </script>
